/add_face.cpython-38.pyc
/checkin.cpython-38.pyc
/checkout.cpython-38.pyc
/dashboard.cpython-38.pyc
/datepicker.cpython-38.pyc
/detail_employee.cpython-38.pyc
/detail_timekeeping.cpython-38.pyc
/employee.cpython-38.pyc
/login.cpython-38.pyc
/registry.cpython-38.pyc
/timekeeping.cpython-38.pyc
